[Unit]
Description=ITSM-NG BPMN workflow backend
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/itsmng-workflows/configuration
ExecStart=sh -c "npm run setup && npm run start"
Restart=always
User=itsmworkflow
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/share/itsmng-workflows

[Install]
WantedBy=multi-user.target
